@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #24273a;
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 2.5rem;
}

#logo {
  font-size: 2rem;
  color: #c29df1;
  text-decoration: none;
  font-weight: bold;
}

nav {
  display: flex;
  flex-direction: row;
}

#nav-item {
  font-size: 1.5rem;
  color: #f3bce6;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}

#welcome {
  margin-top: 10%;
  margin-left: 2.5rem;
}

#title {
  color: white;
  font-size: 8rem;
  font-weight: 800;
}

span {
  color: #c29df1;
}

#first-article {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#first-article > #icon {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}

#first-article > #icon > i {
  margin-right: 1rem;
}
